#accordion .panel-title a{padding:10px 15px; display:block;background-color: #fbd42f;}
#accordion .panel-title a:hover, #accordion .panel-title a:focus{text-decoration:none;}
#accordion .panel-heading{padding:0px;}
a.content-heading .glyphicon-plus{float:right; top:8px;display:none;}
/*a.content-heading[aria-expanded="true"] .glyphicon-plus:before{content: "\2212";}*/

td.sub-groups a{width: 100% !important;display: block;}
td.sub-groups label{padding-top:10px;}
.view {
   width: 100%;/*110px*/;
   height: 110px;
   /*margin: 10px;*/
   float: left;
   border: 1px solid #ddd;
   /*overflow: hidden;*/
   position: relative;
   text-align: center;
   cursor: default;
  /* -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   
   background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   /*overflow: hidden;*/
   top: 0;
   left: 0;
   z-index:1;
}

.mask span{font-size:13px; /*margin-top:10px;*/ color:#15345a; text-shadow:0 1px 1px #fff; padding-top:15px; display:block; font-weight:bold;}
.mask span:nth-child(1){margin-right:5px;}
.mask span:nth-child(2){margin-right:10px;}
.mask span:nth-child(3){margin-right:5px;}

.view img {
   display: block;
   position: absolute;
   max-width:100%;
   max-height:108px;
   left: 50%;
    top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform:    translateX(-50%) translateY(-50%);
  -ms-transform:     translateX(-50%) translateY(-50%);
  -o-transform:      translateX(-50%) translateY(-50%);
  transform:         translateX(-50%) translateY(-50%);
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 12px;
   padding: 5px 10px;
   background: #15345a;
   margin: 35px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}